PROCESS_NAME=google_drive_test
RMQ=amqp://hypernode:hypernode@127.0.0.1:5672
DB_PORT=27017
GRI=ws://127.0.0.1:8181
RCLONE_CONFIG_BASE64=####
GDRIVE_REMOTE=gdrive
GDRIVE_PATH=HYPERNODE
SNAPSHOT_DISK_SPACE=17000000
SNAPSHOT_PATH=/snapshot_files
