# ===========================================================
# PRODUCTION MODE CONFIGURATION
# This configuration file is used for the production environment.
# Do not touch this file if you don't know what you are doing.
# "Even the smallest person can change the course of the future." - Galadriel, The Lord of the Rings
# ===========================================================

global
    no strict-limits
    log stdout format raw local0
    maxconn 4096
    tune.ssl.default-dh-param 2048

defaults
    log     global
    option  dontlognull
    timeout connect 5000ms
    timeout client  300000ms    # Aumentato a 5 minuti
    timeout server  300000ms    # Aumentato a 5 minuti
    retries 3

frontend tcp-in
    bind *:445 ssl crt /ssl/my.omniaweb.cloud.pem
    mode tcp
    log global

    # Delay for TCP inspection
    tcp-request inspect-delay 1s
    tcp-request content accept if WAIT_END

    # Detect AMQP traffic based on protocol header (AMQP uses 'AMQP' as the first 4 bytes)
    acl is_amqp req.payload(0,4) -m str "AMQP"

    # Route AMQP traffic to the AMQP backend
    use_backend amqp_back if is_amqp

    # Default backend for non-AMQP traffic
    default_backend http_back

    # Timeout specifico per il frontend rimosso - usa quello dei defaults

backend http_back
    mode tcp
    balance roundrobin
    server web1 127.0.0.1:8080

backend amqp_back
    mode tcp
    balance roundrobin
    # Opzioni specifiche per AMQP
    timeout server 600000ms     # 10 minuti per connessioni AMQP
    timeout connect 10000ms     # 10 secondi per la connessione iniziale
    
    # Abilita il check delle connessioni (opzionale)
    option tcp-check
    
    server amqp_server 127.0.0.1:5672 check inter 30s fall 3 rise 2
    
