PROCESS_NAME=google_drive_test
RABBITMQ_DEFAULT_USER=hypernode
RABBITMQ_DEFAULT_PASS=hypernode
RMQ=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@127.0.0.1:5672
DB_PORT=27017
GRI=ws://127.0.0.1:8181
RCLONE_CONFIG_BASE64=#####
GDRIVE_REMOTE=gdrive
GDRIVE_PATH=HYPERNODE
RECORDING_DISK_SPACE=17000000
RECORDING_PATH=/recording_files
